$todoBack: rgba(247, 255, 113, 0.45);
$complete: #49ca49;
$due: rgba(234, 194, 46, 0.98);
body {
  font-family: 'Montserrat', sans-serif;
}
.pointer {
  cursor: pointer;
}
#App {
  max-width: 1000px;
  margin: auto;
  select {
    border-radius: 5px;
    padding: 5px;
  }
  button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: inline-block;
    float: left;
  }
  button:disabled {
    visibility: hidden;
  }
  button:focus {
    outline: none;
  }
  #todos {
    #todos-body {
      max-height: 80vh;
      overflow-y: auto;
      overflow-x: hidden;
    }
    #todo-bar {
      width: 100%;
      height: 110px;
      .search {
        width: 60%;
        height: 40px;
        font-size: large;
        border-radius: 5px;
        box-sizing: border-box;
      }
      .todo-filter {
        width: 40%;
        display: inline-block;
        text-align: right;
      }
      .controls {
        padding: 14px 0;
        display: inline-block;
        width: 100%;
        label {
          width: 100%;
          display: block;
        }
        * {
          text-align: center;
        }
        & > div {
          float: left;
          display: inline-block;
          width: 33%;
        }
      }
      .page-switch {
        div {
          display: inline-block;
        }
        label {
          width: 100%;
        }
        .current-page {
          display: inline-block;
          float: left
        }
      }
    }
  }

  .todo {
    background-color: $todoBack;
    box-shadow: 10px 10px 10px rgba(255, 157, 97, 0.45);
    margin: 5px;
    padding: 5px;
    &:hover {
      background-color: aquamarine;
      margin: -3px;
      padding: 10px;
    }
    transition: 0.1s;
    cursor: pointer;
    .todo-title {
      width: 95%;
      display: inline-block;
    }
    .todo-status {
      display: inline-block;
      width: 5%;
      text-align: right;
    }
    span {
      float: right;
    }
  }

  .complete {
    background-color: $complete;
  }

  .due {
    background-color: $due;
  }


}




.todo-detail {
  .properties {
    border-radius: 5px 5px 0 0;
    padding: 10px;
    span {
      float: right;
    }
  }
  .body {
    padding: 10px;
  }
  .back {
    width: 100%;
    text-align: center;
    border-radius: 0 0 5px 5px;
    background-color: rgba(142,210,255,0.4);
    transition: 0.5s;

    &:hover{
      background-color: rgba(142,210,255,1);
    }
  }
  max-width: 1000px;
  min-width: 300px;
  background-color: $todoBack;
  box-shadow: 10px 10px 10px rgba(255, 157, 97, 0.45);
  margin: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#loader {
  svg {
    width: 100px;
    height: 100px;
    display:block;
    margin: auto;
  }
  h1 {
    text-align: center;
  }

}